[package]
name = "ethercrab"
categories = ["science::robotics", "no-std", "network-programming"]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/ethercrab-rs/ethercrab"
documentation = "https://docs.rs/ethercrab"
description = "An EtherCAT master in pure-Rust that is no_std compatible"
keywords = ["no-std", "beckhoff", "ethercat", "igh", "soem"]
exclude = ["dumps", "NOTES.md", "SPECNOTES.md"]
resolver = "2"

[package.metadata.docs.rs]
all-features = true
default-target = "x86_64-unknown-linux-gnu"
targets = ["x86_64-unknown-linux-gnu", "x86_64-pc-windows-gnu"]

[workspace]
members = ["examples/embassy-stm32"]

[dependencies]
async-io = { version = "1.13.0", optional = true }
atomic_enum = "0.2.0"
atomic_refcell = "0.1.10"
bitflags = "2.3.3"
defmt = { version = "0.3.5", optional = true }
embassy-futures = "0.1.0"
embassy-time = "0.1.2"
futures-lite = { version = "1.13.0", default-features = false }
heapless = "0.7.16"
log = { version = "0.4.19", default-features = false }
nom = { version = "7.1.3", default-features = false }
num_enum = { version = "0.6.1", default-features = false }
packed_struct = { version = "0.10.1", default-features = false }
safe-transmute = { version = "0.11.2", default-features = false }
sealed = "0.5.0"
smlang = "0.6.0"
smoltcp = { version = "0.10.0", default-features = false, features = [
    "proto-ipv4",
    "socket-raw",
    "medium-ethernet",
] }
spin = { version = "0.9.8", default-features = false, features = ["rwlock"] }

[target.'cfg(any(target_os = "windows", target_os = "macos"))'.dependencies]
pnet_datalink = { version = "0.34.0", features = ["std"], optional = true }
blocking = "1.3.1"

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2.147"
rustix = { version = "0.38.4", default-features = false, features = [
    "process",
] }
thread-priority = "0.13.1"

[target.'cfg(miri)'.dependencies]
tokio = { version = "1.29.1", features = ["rt", "macros", "time"] }

[dev-dependencies]
arbitrary = { version = "1.3.0", features = ["derive"] }
criterion = { version = "0.5.1", features = ["html_reports", "async_tokio"] }
ctrlc = "3.4.0"
env_logger = "0.10.0"
hdrhistogram = "7.5.2"
heckcheck = "2.0.1"
pcap-file = "2.0.0"
pretty_assertions = "1.4.0"
smol = "1.3.0"
tokio = { version = "1.29.1", features = [
    "rt-multi-thread",
    "macros",
    "sync",
    "time",
] }

[features]
default = ["std"]
defmt = ["dep:defmt"]
std = ["pnet_datalink", "async-io", "smoltcp/phy-raw_socket", "log/std"]
# Development only - DO NOT USE
bench-hacks = []

[[example]]
name = "akd"
required-features = ["std"]

[[example]]
name = "dc"
required-features = ["std"]

[[example]]
name = "ec400"
required-features = ["std"]

[[example]]
name = "ek1100"
required-features = ["std"]

[[example]]
name = "multiple-groups"
required-features = ["std"]

[[bench]]
name = "pdu_loop"
harness = false

[[bench]]
name = "loopback"
harness = false

[profile.profiling]
inherits = "release"
debug = true

# Used to get beter location info with defmt in `examples/stm32`. This is ignored if EtherCrab is
# used as a dependency.
[profile.release]
debug = 2
