target_steps: &target_steps
  docker:
    # NOTE: Exact version is overridden in `rust-toolchain.toml`
    - image: cimg/rust:1.68.0
  steps:
    - checkout
    - restore_cache:
        key: v5-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}

    # For docs gen
    - run: rustup target add x86_64-unknown-linux-gnu || true
    - run: |
        if ! type "cargo-deadlinks" > /dev/null; then
          cargo install cargo-deadlinks --target x86_64-unknown-linux-gnu
        fi

    - run: rustup target add $TARGET || true
    - run: cargo test --target $TARGET
    - run: cargo bench --no-run --target $TARGET
    - run: cargo build --target $TARGET --examples --release
    - run: cargo deadlinks --ignore-fragments

    - save_cache:
        key: v5-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}
        paths:
          - ./target
          - /home/circleci/.cargo/registry
          - /home/circleci/.cargo/bin

miri_steps: &miri_steps
  docker:
    # NOTE: Exact version is overridden in `rust-toolchain.toml`
    - image: cimg/rust:1.68.0
  steps:
    - checkout
    - run: sudo apt update && sudo apt install -y libpcap-dev
    - restore_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}

    # Arbitrary nightly version - just the latest at time of writing. This can be changed freely.
    - run: rustup toolchain add nightly-2023-03-16 --target $TARGET --component miri
    - run: |
        export MIRIFLAGS="-Zmiri-symbolic-alignment-check -Zmiri-disable-isolation"

        cargo +nightly-2023-03-16 miri test --target $TARGET --release

    - save_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}
        paths:
          - ./target
          - /home/circleci/.cargo/registry

target_steps_no_test: &target_steps_no_test
  docker:
    # NOTE: Exact version is overridden in `rust-toolchain.toml`
    - image: cimg/rust:1.68.0
  steps:
    - checkout
    - run: sudo apt update && sudo apt install -y libpcap-dev
    - restore_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}

    - run: rustup target add $TARGET || true
    # TODO: Add --examples when there are some no_std examples ready
    - run: cargo build --target $TARGET --no-default-features --release

    - save_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}
        paths:
          - ./target
          - /home/circleci/.cargo/registry

cross: &cross_steps
  resource_class: large
  docker:
    # NOTE: Exact version is overridden in `rust-toolchain.toml`
    - image: cimg/rust:1.68.0
  steps:
    - checkout
    - restore_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}

    - run: rustup target add $TARGET
    # For Windows
    - run: sudo apt update && sudo apt install -y mingw-w64
    # FIXME: change to "build" when possible. Currently fails with a link error about "-lPacket"
    # for libpcap on Windows. A bit of a dead end here: https://github.com/libpnet/libpnet/issues/479
    - run: cargo check --target $TARGET --release --examples

    - save_cache:
        key: v4-ethercrab-{{ .Environment.CIRCLE_JOB }}-{{ checksum "Cargo.toml" }}
        paths:
          - ./target
          - /home/circleci/.cargo/registry

version: 2
jobs:
  target-x86_64-unknown-linux-gnu:
    resource_class: large
    environment:
      - TARGET: "x86_64-unknown-linux-gnu"
    <<: *target_steps

  miri-x86_64-unknown-linux-gnu:
    resource_class: large
    environment:
      - TARGET: "x86_64-unknown-linux-gnu"
    <<: *miri_steps

  windows-cross:
    environment:
      - TARGET: "x86_64-pc-windows-gnu"
    <<: *cross_steps

  macos-cross:
    environment:
      - TARGET: "x86_64-apple-darwin"
    <<: *cross_steps

  macos-arm-cross:
    environment:
      - TARGET: "aarch64-apple-darwin"
    <<: *cross_steps

  # TODO: Re-enable when we can remove `Box` from the slave group preop hook fn
  # target-thumbv7m-none-eabi:
  #   resource_class: large
  #   environment:
  #     - TARGET: "thumbv7m-none-eabi"
  #   <<: *target_steps_no_test

build_jobs: &build_jobs
  jobs:
    - target-x86_64-unknown-linux-gnu
    - miri-x86_64-unknown-linux-gnu
    - windows-cross
    - macos-cross
    - macos-arm-cross
    # - target-thumbv7m-none-eabi

workflows:
  version: 2
  build_all:
    <<: *build_jobs
